name: Tests

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
  pull_request:
    branches: [ main ]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
    steps:
    - name: Checkout source
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Install requirements
      run: |
        sudo apt-get update
        sudo apt-get install libhdf5-dev

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install beam_networks
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install .[tests]

    - name: Test with pytest
      run:
        pytest